
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  
}
.content {
  padding: 0 0.938rem;
  margin: 0 auto;
  min-width: 37.5rem;
  width: 60%;


}

li.bold {
  font-weight: bold;
}


/* Navigation Section */
}
}
.top-navigation {
  background-color: #fff;
  border-bottom: 1px solid #DDD;
  position: fixed;
  width: 100%;
  z-index: 9999;
}


.top-navigation > .content {
  height: 4.375rem;
}

.top-navigation .links {
  float: right;
  color: #838994;
  font-size: 1.04rem;
  margin-top: 1.7rem;
}
.links {
  list-style: none;
}
.top-navigation .links li{
  display: inline-block;
  margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
element.style {
}
.top-navigation .logo {
  height: 4.375rem;
}
element.style {
}

/**
   * backgroundimage
   */



.introduction {
    background-image: url('../Images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
  }
  .introduction h1,
  .introduction h3 {
    color: white;
    text-align: center;
    font-weight: 300;

  }
  .introduction h1 {
    margin-top: 17.5rem;
    font-size: 3.125rem;
  }

  .introduction h3 {
    margin-top: 1.25rem;
    font-size: 1.56rem;
  }

  /**
   * button
   */
    .big-button {
    width: 9.688rem;
    background-color: #fa7705;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    margin:0 auto;
    display: block;
  }

  /**
   *The Three Case Images
   */


.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
    display: center;

  }



.cases .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
    font-size: 3.00rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;

    
}
  

 .cases .devices > li {
    width: 33.3333333%;
    float:left;
    list-style: none;
}
 
 .cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}

.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}

/**
   *The Footer
   */

   .social .content   {
    color: black;
    text-align: center;
    display: center;
    border-radius: 50%;
    
    }

    .social .icons > li {
      display: inline;
      color: blue;
      border-radius: 1.25rem;
      width: 2.5rem;
      height: 2.5rem;
      display: inline-block;
      margin: 1.25rem 5px;
      border: 1px solid #eaebec;
      padding: 0.625rem 0;
      text-align: center;

    }

    .copyright {
      color: #bbb;
      font-size 14px;
      
    }

   hr {
    border-width: 1px;
    border-color: #F9F9F9;
   }







    